@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@400;700&display=swap');
:root{
    --primary-dark: #4338CA;
    --primary-light: #818CF8;
    --bg-color: #E0E7FF;
}
body{
    max-width: 600px;
    margin: auto;
    font-family: 'Texturina', serif;
    background-color: var(--bg-color);
}
h1{
     text-align: center;
     background-color: var(--primary-dark);
     color: white;
     padding: 1rem;
     margin: 0rem auto 1rem auto;
     border-radius: 0px 0px 20px 20px;
}
img {
    max-width: 350px;
    display: block;
    margin: auto;
}
textarea{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    height: 6rem;
    width: 65%;
    padding: 1rem;
    margin: 1rem auto;
    font-family: 'Texturina', serif;
    font-size: 1rem;
    background-color: var(--primary-light);
    color: white;
}
button{
    display: block;
    margin: auto;
    font-family: 'Texturina', serif;
    font-size: 1.25rem;
    border: 5px solid var(--primary-light);
    border-radius: 10px;
    background-color: var(--primary-dark);
    color: white;
}
button:hover{
    border-color: var(--primary-dark);
    background-color:var(--primary-light);
}
p{
    width: 65%;
    margin: 1rem auto;
}
div{
    border: 2px solid black;
    border-radius: 10px;
    height: 6rem;
    width: 65%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--primary-light);
    color: white;
}